# macOS
.DS_Store

# Xcode user-specific
*.xcuserstate
**/xcuserdata/
*.xcuserdatad/

# Build outputs

DerivedData/

AlNaham.xcodeproj/project.xcworkspace/xcuserdata/ghadeer.xcuserdatad/UserInterfaceState.xcuserstate
